body {
    margin: 0px;
    padding: 0px;
    /* height: 500px; */
}


#canvasbox {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid yellow;
}

.result {
    position: absolute;
    text-align: center;
    bottom: 10px;
    height: 40px;
}

.SP {
    float: left;
    margin: 0px 20px;
    font-size: 20px;
    width: 80px;
    height: 40px;
    
}
.canvas {
    border: 1px solid red;
    cursor:pointer;
    display:block;
    margin:0 auto;
}
